$col-bg-dark: var(--col-bg);
$col-bg-dark-hover: var(--col-main);
$col-bg-hover: var(--col-main-h);
$col-bg-hover-max: var(--col-focus);
$col-basic: var(--col-basic);
$col-text: #FFFFFF;

$col-green: #00C322;
$col-red: #FF1300;


// Стили офлайна:
// $col-bg-dark: #111111;
// $col-bg-dark-hover: #001027;
// $col-bg-hover: #00283f;
// $col-bg-hover-max: #02a9ce;
// $col-basic: #2272FF;


$col-chart-1: #208B9A;
$col-chart-2: #FF7A00;
$col-chart-3: #133AAC;
$col-chart-4: #00C322;
$col-chart-5: #FF1300;
$col-chart-6: #7808A9;
$col-chart-7: #D1006B;
$col-chart-8: #F3FC01;
$col-chart-9: #01B54F;
$col-chart-10: #FFFFFF;

$print-bg: white;
$print-border: black;
$print-light-grey: #cfcfcf;
$print-grey: #e3e3e3;
$print-sunday: #f4b083;
$print-sum: #fef2cb;
$print-sumAll: #ffd965;
$print-deanery: #c5e0b3;
$print-2b: #FF7A00;
$print-cemetery: #208B9A;
$print-address: #7808A9;